body {
  background-image: url(../img/opening_soon.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
}

h2 {
  color: black;
  background-color: white;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
}

.home a {
  display: inline-block;
  width: 25rem;
  padding: 1rem 5rem;
  margin: 2rem auto;
  font-size: 2rem;
}
